<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206238901043-fh9qnbi1db4f587c20tdg44mff90a1l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206238901043-fh9qnbi1db4f587c20tdg44mff90a1l5</string>
	<key>API_KEY</key>
	<string>AIzaSyB6gN0B_yXSvYfMylH0By3E3UBuseRdR50</string>
	<key>GCM_SENDER_ID</key>
	<string>206238901043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.tdc.DoAn</string>
	<key>PROJECT_ID</key>
	<string>vat-lieu-xay-dung-f1928</string>
	<key>STORAGE_BUCKET</key>
	<string>vat-lieu-xay-dung-f1928.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206238901043:ios:b0e952a3058716c32e9446</string>
</dict>
</plist>